body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #333;
  color: white;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

/* 1 dòng trắng – 1 dòng xám */
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hiển thị toàn bộ hình */
img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.controls {
  margin: 10px 0;
}

#pagination button {
  margin: 5px;
  padding: 5px 10px;
}
